* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', serif;
  font-weight: 700;
  background-color: #000;
}
#content {
  display: inline;
  text-shadow: 1px 1px #000;
  color: #ffffff;
}
.wrapper {
  border-radius: 20px;
  width: 600px;
  background: url('../images/scoreboardbackground.png');
  margin: 10px 10px;
  height: 100px;
  box-shadow: 0px 4px 10px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.me,
.opponents {
  font-size: 44px;
  margin: 10px;
  margin-top: 25px;
  width: 180px;
}
.me {
  text-align: right;
}
.opponents {
  text-align: left;
}
#myscore,
#opponentscore,
#dash {
  font-size: 64px;
  margin: 5px;
}
#logo {
  margin-left:5px;
  height: 90px;
  width: 45px;
  background-image: url('../images/ImpostorEngineer.png');
  background-repeat: no-repeat;
  background-size: auto 80px;
  background-position: 0px 10px;
}
#pros{
  margin-right: 5px;
  height: 90px;
  width: 45px;
  background-image: url('../images/pros.png');
  background-repeat: no-repeat;
  background-size: auto 80px;
  background-position: 0px 10px;
}
